---
---

<header>
    <div class="logo">
      <img src="/src/images/AkiDev_Blanco.webp" alt="Tu foto">
    </div>
    <div class="buttons">
      <a href="https://github.com/electrum10"  class="btn github" >
        <img src="/src/images/svg/github.svg" alt="">
      </a>
      <a href="https://github.com/tu_usuario"  class="btn github">
        <img src="/src/images/svg/mail.svg" alt="">
      </a>
    </div>
    <style>
      header {
        position: sticky; /* Agregamos esta propiedad */
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f0f0f0;
        z-index: 1; /* Agregamos esta propiedad para que se superponga sobre otros elementos */
      }
  
      .logo img {
        width: 10%;
        height: 10%;
        padding-left: 5%;
      }

      .buttons {
        display: flex;
        padding: 1rem;
        margin: 1rem;
        gap: 2rem;
        align-items: center;
      }
    </style>
  </header>