<div class="Inicio">
    <div class="Left">
        <img src="/src/images/AkiDev_Repositorios.webp" alt="AkiDev Repositorios">
    </div>
    <div class="Right">
        <h1>Biblioteca de repositorios</h1>
        <p>Esta es mi zona de caos organizada. <br> 
        Si te mola el código sucio pero funcional, bienvenido. <br>
        Mira, aprende, y si puedes, aporta algo útil</p>
    </div>
</div>

<style>
    .Inicio {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 90vh;
        align-items: center;
        text-align: center;
        align-content: center;
        background-color: #1A2A35;
        color: white;
        margin-bottom: 3rem;
    }

    .Left img {
       height: 70vh;
    }

    .Right {
        text-align: center;
        align-items: center;
    }
</style>